numpy
scipy
tensorboard
librosa
numba
pytorch-lightning
gradio==3.35.2
ffmpeg-python
onnxruntime-gpu
tqdm
cn2an
pypinyin
pyopenjtalk
g2p_en
torchaudio==2.1.0
sentencepiece
transformers
chardet
PyYAML
psutil
jieba_fast
jieba
LangSegment
wordsegment
rotary_embedding_torch
spaces
pyjyutping
g2pk2
ko_pron
opencc
python_mecab_ko
torch==2.1.0
torchvision==0.16.0
pydantic==1.10.8
fastapi==0.95.2