numpy
scipy
tensorboard
librosa
numba
pytorch-lightning
gradio==4.4.0
ffmpeg-python
onnxruntime-gpu
tqdm
cn2an
pypinyin
pyopenjtalk
g2p_en
torchaudio
sentencepiece
transformers
chardet
PyYAML
psutil
jieba_fast
jieba
LangSegment
wordsegment
rotary_embedding_torch
spaces
pyjyutping
g2pk2
ko_pron
opencc
python_mecab_ko
torch
pydantic==1.10.13